/* ********************************************************************** */
/* Re-defined Tags  */
/* ********************************************************************** */

BODY
{
	font-family : Verdana;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	background-color : #FBFAF4; 	
	width : 800px;		
}
BODY.logBody
{
	background-color:#FBFAF4;
	width : auto;
}

sup
{
   font-size: 0.8em;
}

td.course45
{
	width:45%;	
}

input.unpw
{
	width:320px;
}

/* ********************************************************************** */
/* Classes  */
/* ********************************************************************** */

.page_title 
{
	font-family: Verdana; 
	font-size: 12pt;
	color: #890C08;
	font-weight: bold;
	font-style : normal;
}

.white_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #fff;
	font-weight : normal;
	font-style : normal;
	border:1px solid #F7C555;
	background-color: #363C54;
}

.darkBlue_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #566B87;
	font-weight : bold;
	font-style : normal;
}

.main_window_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #566B87;
	font-weight : bold;
	font-style : normal;
}

.red_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #890C08;
	font-weight : normal;
	font-style : normal;
}

.green_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #339900;
	font-weight : normal;
	font-style : normal;
}

.orange_text
{
        font-family : Verdana;
        font-size : 10pt;
        color: #FF7F00;
        font-weight : normal;
        font-style : normal;
}

.wide
{
	font-size: 36pt;
	font-weight: normal;
	font-style : normal;
	width : 1000px;
}
.smallText
{
	width : 275px;
	font-size : 8pt;
	font-family : Verdana,arial;
	font-weight: bold;
	text-align : center;	
}

/* ********************************************************************** */
/* IDs  */
/* ********************************************************************** */
#log_Span
{
	display:inline ;
    font-family: Arial ;
    font-size: "8pt" ;	
    overflow: scroll;
    
}

#topNav
{
	background-color : #92ABD4;
	font-family : Verdana;
	color: #FFF;
	width: 400px;
}



#code_jsp
{
	background-color : #FFFFFF;
	font-family : normal Verdana;
	color: black;
    width: 400px;
}

.topNavLinks a
{
   text-align: right;
   vertical-align : bottom;
   font-weight: bold;
   font-family : Verdana;
   color: #F4F27A;
   font-size : 9pt;
   padding: 0px 0px 3px 0px;
   text-decoration: none;
}

.topNavLinks a:hover
{
	text-decoration: underline;
}
